body{
  margin: 0;
  overflow: hidden;
}

:root{
  touch-action: none;

  font-size: 10pt;

  --side-btn-width: 3rem;
  --side-btn-img-width: 1.6rem;
  
  --side-bar-inter-btn-gap: 1.2rem;
  --side-bar-inter-group-gap: 0.8rem;

  --btn-group-top-btm-padding: 0.8rem;
  /* --btn-group-left-right-padding: 0rem; */
}

.canvas-holder, .indicator-holder-outer{
  position: relative;

  width: 100vw;
  height: 100dvh;

  display: flex;
  align-content: center;
  justify-content: center;
}

.canvas-holder[data-image-direction="horizontal"], .indicator-holder-outer[data-image-direction="horizontal"] {
  flex-direction: column;
}

.canvas-holder[data-image-direction="vertical"], .indicator-holder-outer[data-image-direction="vertical"] {
  flex-direction: row;
}

.indicator-holder-outer{
  pointer-events: none;
  position: absolute;

  z-index: 20;
}


/* 

Z-INDEX LAYERS:

all-ui-buttons: 50

indicators: 20
canvas mover interaction layer: 10

.final-render-canvas 9
.preview-canvas 8
instant-preview-blob : 4
blank-bg: 2
matte-canvas: 1
main-canvas: 0

*/

.canvas-holder-inner{
  position: relative;
}

.blank-background{
  position: absolute;
  inset: 0;

  z-index: 2;
}

.mask-mode-hint{
  position: absolute;

  padding: 0.4rem 0.5rem;

  bottom: 1rem;
  left: 1rem;

  opacity: 1;

  border-radius: 0.2rem;

  z-index: 6; 
  background: white;
}

.start-hint{
  position: absolute;

  top: 2rem;
  right: 6.6rem;

  font-size: 1.2rem;
  font-weight: bold;
  color: grey;
}

.fade-away{
  opacity: 0;
  transition: opacity 1s ease-in-out;
  transition-delay: 500ms;
  user-select: none;
  pointer-events: none;
}

.canvas-mover-layer{
  position: fixed;

  inset: 0;

  z-index: 10;
}

.main-canvas, .matte-canvas, .final-render-canvas, .preview-canvas{
  position: absolute;
  height: 100%;
  width: 100%;
  
  top: 0;
  left: 0;

  z-index: 0;
}

.matte-canvas{
  z-index: 1;
  pointer-events: none;
}

.final-render-canvas{
  z-index: 9;
}

.preview-canvas{
  opacity: 1;
  z-index: 8;
}

.hidden{
  display: none;
  opacity: 0;
}

.indicator-holder{
  position: relative;
  opacity: 1;

  transition: opacity 1s ease-in-out;
}

.indicator{
  position: absolute;
  pointer-events: all;
  cursor: pointer;

  width: 1.1rem;
  height: 1.1rem;

  top: 0;
  left: 0;

  transform: translateX(-50%) translateY(-50%); 

  border-radius: 1rem;
  outline: white 0.2rem solid;

  z-index: 20;

  transition: transform 0.2s;

  box-shadow: 2px 2px 5px black;
}

.indicator[data-selected="1"], .indicator:hover{
  outline: rgb(206, 255, 133) 0.2rem solid;
  transform: translateX(-50%) translateY(-50%) scale(1.5);
}

/* 
==========================
==        BUTTONS       ==
==========================
*/

.left-side-bar, .right-side-bar{
  position: absolute;

  display: flex;
  flex-direction: column;
  gap: var(--side-bar-inter-group-gap);

  width: var(--side-btn-width);
  /* height: 500px; */

  /* background-color: red; */

  padding: 2rem 2rem;

  top: 0;
  left: 0;

  z-index: 50;
}

.right-side-bar{
  left: unset;
  right: 0;
}

.multi-btn-group, .single-btn-group{
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;

  gap: var(--side-bar-inter-btn-gap);
  padding: var(--btn-group-top-btm-padding) 0;

  margin-bottom: 0.8rem;
  /* width: calc(var(--side-btn-width) - 2rem); */

  outline: 0.2rem black solid;
  background-color: white;
  
  border-radius: 0.3rem;

  z-index: 50;

  box-shadow: 0 4px 4px rgba(0,0,0,0.5);
}

.single-btn-group[data-toggle="off"]{
  box-shadow: none;
  outline-color: rgb(187 187 187);
}

.single-btn-group[data-toggle="off"] > * {
  opacity: 0.2;
}

/* 0: HIDDEN | 1: LIGHTEN | 2 : MULTIPLY | 3 : NORMAL (BW) */
#mask-mode-btn-group[data-mode="0"]{
  box-shadow: none;
  outline-color: rgb(187 187 187);
}

#mask-mode-btn-group[data-mode="0"] > img{
  opacity: 0.2;
}

#mask-mode-btn-group[data-mode="1"]{
  outline-color: rgb(149, 149, 149);
}

#mask-mode-btn-group[data-mode="1"] > img{
  opacity: 0.6;
}

#mask-mode-btn-group[data-mode="2"]{
  filter: invert(1);
  box-shadow: 0 4px 4px white;
}


.multi-btn-group--divider{
  height: 0.2rem;
  width: 100%;

  background-color: black;

  margin: -0.2rem;
}

.single-btn-group{
  padding: 0;
  height: 3.2rem;
}

.single-btn-group > *{
  margin: auto;
}

.logo-container{
  width: 90%;
  margin-bottom: 0.4rem;
}

.img-btn{
  width: var(--side-btn-img-width);
  object-fit: contain;
}

.letter-btn{
  height: 1.2rem;

  margin: 0.1rem 0;
}

.letter-btn[data-toggle="off"]{
  filter: brightness(0);
}

.letter-btn[data-toggle="on"]{
}

#add-btn-group[data-mode="add"]{  /* ADD INDICATOR MODE */
  filter: invert(1);
  box-shadow: 0px 4px 4px rgb(255, 255, 255);
}

#add-btn-group[data-mode="delete"]{  /* NON-INTERACTIVE MODE */
  background-color: red;
  outline-color: white;
}

#add-btn-group[data-mode="delete"] > img {
  width: calc(var(--side-btn-img-width) * 1.2);
}

#add-btn-group > img{
  width: calc(var(--side-btn-img-width) * 0.9);
}

.color-switch-btn{
  width: calc(var(--side-btn-img-width) * 1.2);
}

.show-preview-btn{
  width: calc(var(--side-btn-img-width) * 1.2);
}

.range-toggle-slider{
  position: absolute;
  z-index: 51;

  left: 0rem;
  top: 0rem;

  transform-origin: center;
  transform: rotate(-90deg) translateX(-50%);
}
